
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successfull</title>
</head>
<body>
    <h1 style="color: lawngreen">You successfully confirmed your email</h1>
    <a asp-action="index" asp-controller="home"><h4>Go back to site</h4></a>
</body>
</html>
