@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <section id="products">
          <input type="hidden" id="productCount" value="@ViewBag.ProductCount"/>
            <div class="container">
                <div class="row" id="productList">
                 @await Component.InvokeAsync("Product", 2)
                </div>

                <div class="row d-flex justify-content-center mt-5 mb-5"> 
                    <button class="btn btn-danger w-25" id="loadmore">Load More...</button>
                </div>
            </div>
        </section>
